.gitattributes !filter !diff
.gitignore !filter !diff
.git/* !filter !diff
testnet/*.json filter=git-crypt diff=git-crypt
testnet/testnet-accounts.md filter=git-crypt diff=git-crypt
scripts/testnet/*.json filter=git-crypt diff=git-crypt
scripts/testnet/testnet-accounts.md filter=git-crypt diff=git-crypt
